{% extends 'base.html' %}{% block content %}
<link href="static\css\style.css" rel="stylesheet">
<div class="message-box">
    <h2 style="color: black;">Chat Room: {{code}}</h2>
    <div class="messages" id="messages"></div>
    <div class="inputs">
        <input type="text" rows="3" placeholder="Message" name="message" id="message">
        <button class="btn btn-secondary btn-lg mx-2" type="button" name="send" id="send-btn" onClick="sendMessage()">
            Send
        </button>

    </div>
</div>

<script type="text/javascript">
    // Get the input field
var input = document.getElementById("message");

// Execute a function when the user presses a key on the keyboard
input.addEventListener("keypress", function(event) {
  // If the user presses the "Enter" key on the keyboard
  if (event.key === "Enter") {
    // Cancel the default action, if needed
    event.preventDefault();
    // Trigger the button element with a click
    document.getElementById("send-btn").click();
  }
});
    var socketio = io();
  
    const messages = document.getElementById("messages");
  
    const createMessage = (name, msg) => {
      const content = `
      <div class="text custom-font" >
          <span class="custom-font">
              <strong class="text-nowrap bd-highlight fw-bolder">${name}</strong>: ${msg}
          </span>
          <span class="muted ">
              ${new Date().toLocaleString()}
          </span>
      </div>
      `;
      messages.innerHTML += content;
    };
  
    socketio.on("message", (data) => {
      createMessage(data.name, data.message);
    });
  
    const sendMessage = () => {
      const message = document.getElementById("message");
      if (message.value == "") return;
      socketio.emit("message", { data: message.value });
      message.value = "";
    };
  </script>
  {% for msg in messages %}
  <script type="text/javascript">
    createMessage("{{msg.name}}", "{{msg.message}}");
  </script>
{% endfor %}{% endblock %}
